<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy;  <ion-icon name="fish-outline" size="small"></ion-icon> Gone Fishing 2021</span>
    </div>
</footer>