<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fishing Holes</title>
</head>
<body>
    <h1>All Fishing Holes!</h1>
    <ul>
        <% for (let fishinghole of fishingholes) { %>
            <li><a href="/fishingholes/<%= fishinghole._id %>"><%=fishinghole.title %></a></li>
        <% } %> 
    </ul>
</body>
</html>