<% layout('layouts/boilerplate') %> 
<form action="/fishingholes" method ="POST">
    <div>
        <label for="title">Title</label>
        <input type="text" id="title" name="fishinghole[title]">
    </div>
    <div>
        <label for="location">Location</label>
        <input type="text" id="location" name="fishinghole[location]">
    </div>
        <button>Add Fishing Hole</button>
</form>
    <a href="/fishingholes">Back to ALL Fishing Holes</a>
